.info {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.itemsStatus {
  padding-bottom: 20px;
}
.statusUser {
  font-size: 16px;
  color: rgba(6, 32, 22, 0.433);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.statusUser:hover {
  color: rgba(71, 156, 253, 0.733);
  cursor: pointer;
}
.discriptionUser {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  color: rgba(71, 156, 253, 0.733);
}

.infoUser {
  color: rgba(6, 32, 22, 0.433);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
}
